@import "../theme.less";
.vol-count-shower{
    border-left:solid @primary-color 4px;
    padding-left: 20px;
    margin:50px 0 30px 0;
    .number-info{
        div:nth-child(2){
            font-size:30px;
        }
    }
}